{{template "base" .}}

{{define "content" }}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the Home Page</h1>
            <p>this is some  text</p>

            <img src="/static/images/image-1.jpg" width="2364" style="height: auto;">

        </div>
    </div>
</div>
{{end}}
